@{
    ViewData["Title"] = "Home Page";
}
<style>
    .main-card:hover {
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.35);
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.35);
    }
</style>

<div class="create">
    <h2 class="text-center my-5">QUICK OPTIONS</h2>
    <div class="d-flex justify-content-center">
        <div class="border border-dark w-25 mr-3 text-center rounded main-card">
            <p class="p-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <a asp-action="Create" asp-controller="Home" class="btn btn-success mt-5 mb-4">NEW ORDER</a>
        </div>
        @if (ViewBag.ActiveUser == null) {
            <div class="border border-dark w-25 mr-3 text-center rounded main-card">
                <p class="p-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a asp-action="Reserve" asp-controller="Home" class="btn btn-success mt-5 mb-4">RESERVE</a>
            </div>
        }

        <div class="border border-dark w-25 mr-3 text-center rounded main-card">
            <p class="p-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <form asp-action="FavoriteOrder" method="post">
            </form>
            <a asp-action="FavoriteOrder" asp-controller="Home" class="btn btn-success mt-5 mb-4">RE-ORDER MY FAVE</a>
            @if (ViewBag != null) {
                <p class="text-danger">@ViewBag.Msg</p>
            }
        </div>
        <div class="border border-dark w-25 text-center rounded main-card">
            <p class="p-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <a asp-action="Surprise" class="btn btn-success mt-5 mb-4">SURPRISE ME</a>
            @if (ViewBag != null) {
                <p class="text-danger">@ViewBag.SurpriseMsg</p>
            }
        </div>
    </div>
    @if (ViewBag != null) {
        <p class="text-success text-center mt-3">@ViewBag.SuccessMsg</p>
    }
</div>